@model CreateEditorsPicksDto
@{
    ViewData["Title"] = "CreateNews";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<h1>Yeni Haber Girişi</h1>
<form method="post">
    <label>Haber Başlığı</label>
    <input type="text" asp-for="EditorsPicksTitle" class="form-control" />
    <br />
    <label>Haber Metini</label>
    <input type="textarea" asp-for="EditorsPicksDescription" class="form-control" />
    <br />
    <label>Haber Yazarı</label>
    <input type="text" asp-for="EditorsPicksAuthor" class="form-control" />
    <br />
    <label>Haber Görseli</label>
    <input type="text" asp-for="EditorsPicksImageUrl" class="form-control" />
    <br />
    <label>Haber Yazılma Tarihi</label>
    <input type="datetime" asp-for="EditorsPicksTime" class="form-control" />
    <br />
    <button class="btn btn-primary">Haberi Ekle</button>
</form>

